<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
    <style>
        table th {
            text-align: center;
        }

        .table {
            margin: auto;
            width: 50% !important;
        }

        form {
            margin: auto;
            width: 50% !important;
        }
    </style>
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>
            {% for column_name in activity_list.columns %}
                <th scope="col">{{ column_name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for activity in activity_list.activities %}
            <tr>
                {% for column_name in activity_list.columns %}
                    <td>{{ attribute(activity, column_name) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <form method="get">
            <div class="form-row">
                <div class="form-group col text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="aggregations[]" value="project" {% if 'project' in aggregations %}checked{% endif %}>
                        <label class="form-check-label" for="inlineCheckbox1">Project</label>
                    </div>
                </div>
                <div class="form-group col text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="aggregations[]"  value="employee" {% if 'employee' in aggregations %}checked{% endif %}>
                        <label class="form-check-label" for="inlineCheckbox2">Employee</label>
                    </div>
                </div>
                <div class="form-group col text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="aggregations[]" value="date" {% if 'date' in aggregations %}checked{% endif %}>
                        <label class="form-check-label" for="inlineCheckbox3">Date</label>
                    </div>
                </div>
                <div class="form-group col text-center">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>

